  <ul class="card-text font-weight-light list-group list-group-flush">
    {% for content in entry.contents %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
            {% if content.title %}
            <div style="padding-left:15px;">
            <a class="title font-weight-bold">{{content.title}}
              
            </a></div>
            {% endif %}

            {% if content.description %}
            <p class="col-md-11" style="text-align:justify;">{{content.description | markdownify }}</p>
            {% endif %}

            {% if content.xcurve %}
            <div style="margin-top:20px;margin-bottom:20px;padding-left:15px;"><img src="/assets/img/xcurve.png" class="col-md-10" style="padding-left:0px;"/></div>
            
            <h4 class="display-4 fw-bold" style="font-size: xx-large;">Four Kinds of Performance Curves</h4>
            
            <div style="margin-top:20px;margin-bottom:20px;padding-left:15px;"><img src="/assets/img/xcurve-insight.png" class="col-md-10" style="padding-left:0px;"/></div>

            {% endif %}

          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
