<ul class="card-text font-weight-light list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
          <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">
            Xcurve
          </span>
        </div>
        
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <div style="padding-left:15px;">
            <a class="title font-weight-bold" style="color: #7da0b6;">
              Decision Invariant Optimization (Xcurve Framework)
            </a>
          </div>

          <!-- <div style="margin-top:20px;margin-bottom:20px;padding-left:15px;"><img src="{{ content.pic }}" class="col-md-10" style="padding-left:0px;"/></div> -->
          
          
          <p class="col-md-11" style="text-align:justify;">
            {{ Recently, machine learning and deep learning technologies have been successfully employed in many complicated high-stake decision-making applications such as disease prediction, fraud detection, outlier detection, and criminal justice sentencing. All these applications share a common trait known as risk-aversion in economics and finance terminologies. In other words, the decision-makers tend to have an extremely low risk tolerance. Under this context, the decision-makers will carefully choose their decision parameter to meet the specific requirement. Consequently, the decision parameters for train- and test- might be quite different. To mitigate the decision parameter shift problem,  I'm seeking for new decision-invariant machine learning machanisms , on top of which we develop a new framework called [Xcurve](https://xcurveopt.github.io/). | markdownify }}
          </p>

          <br>
          
          <p class="col-md-11" style="text-align:justify;">
            {{ The goal of X-curve learning is to learn high-quality models that can adapt to different decision conditions. Inspired by the fundamental principle of the well-known AUC optimization, our library provides a systematic solution to optimize the area under different kinds of performance curves. To be more specific, the performance curve is formed by a plot of two performance functions $$x(\lambda)$$, $$y(\lambda)$$ of decision parameter $$\lambda$$. The area under a performance curve becomes the integral of the performance over all possible choices of different decision conditions. In this way, the learning systems are only required to optimize a decision-invariant metric to avoid the risk aversion issue | markdownify }}
          </p>
          
        </div>
      </div>
    </li>
  </ul>
