---
layout: default
---
  <div class="post">
    <header class="post-header">
      <p class="post-description">{{ page.description }}</p>
    </header>

    <article>
      <div class="cv">
        {% for entry in site.data.research %}
          <div class="card mt-3 p-3">
            <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
            <div>
              {% include research %}
            </div>
          </div>
        {% endfor %}
        </div>
    </article>

  </div>